@model  CRUD_SECOND_VERSION.Models.Department
<center>
    <div>
        <br /> <br /> <br /> <br /><br /> <br />
        <h4>List of employyes in the selected department</h4>
        <hr />

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dd>
                <img src="~/RetrieveImage/@Html.ValueFor(model => model.ImageUrl)" />

            </dd>
        </dl>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdDep }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    @Html.Partial("EmployeeByDepartment", Model.Emp)
</center>

