@model IEnumerable<CRUD_SECOND_VERSION.Models.Employee>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-info table-striped table-bordered ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>


            </tr>

        </tbody>
    }
</table>
