@model CRUD_SECOND_VERSION.Models.Employee

@{
    Layout = null;
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this employee?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
          Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @*<input type="submit" value="Delete" class="btn btn-default" />*@
        <input type="submit" value="Delete" class="btn btn-outline-danger btn-lg button1" style="width:50%" />

        @*@Html.ActionLink("Back to List", "Index")*@
    </div>
    }
</div>
